@import 'font-stack-web'; // Dynamically generated

$serif-web: serif !default;
$sans-serif-web: sans-serif !default;

// Insert custom fonts for your theme into the font stacks below. Always end the
// stack with $serif-web or $sans-serif-web, as appropriate—this allows
// custom language support to be added dynamically.

$roboto-sans: 'Roboto';
$roboto-cond: 'Roboto Condensed';

$font-1: 'Tinos', Georgia, $serif-web; // paragraph, boyd, main font
$font-2: $roboto-sans, Helvetica, Arial, $sans-serif-web; // section title, author title,
$font-3: $roboto-cond, $font-2; // headers

// Add import rules for any fonts you referenced below. Available font partials
// are found in /pressbooks/assets/scss/fonts and follow the naming pattern:
// _FontNameInCamelCaseFont.scss. For example, to import Alegreya Sans, use:
// @import 'AlegreyaSansFont';

@import 'TinosFont';
@import 'RobotoFont';
@import 'RobotoCondensedFont';
