$type: 'web';

//order matters, keep these first
@import 'fonts';
@import '../components/colors';

// the rest
@import '../components/elements';
@import '../components/specials';
@import '../components/tabs';
@import '../components/pages';
@import '../components/section-titles';
@import '../components/toc';
@import '../components/media';
@import '../components/accessibility';
@import '../components/mediaqueries';
