
/* 
    Created on : 4-Feb-2014, 3:10:35 PM
    Author     : bpayne
*/

li.toplevel_page_pb_import a.toplevel_page_pb_import .wp-menu-image::before{
	font-family: FontAwesome !important;
	-webkit-font-smoothing: antialiased;
	background: none;
	content: '\f112' !important;
}

li.toplevel_page_pressbooks-textbook a.toplevel_page_pressbooks-textbook .wp-menu-image::before{
	font-family: FontAwesome !important;
	-webkit-font-smoothing: antialiased;
	background: none;
	content: '\f10a' !important;
}

div.wrap ul li a.btn-small{
	width:16%;
	text-decoration: none;
}

input.higlight:invalid {
  background-color: #ffdddd;
}

input.highlight:valid {
  background-color: #ddffdd;
}
  
input.hightlight:required {
  border-color: #800000;
  border-width: 3px;
}