@import 'font-stack-epub'; // Dynamically generated

$serif-epub: serif !default;
$sans-serif-epub: sans-serif !default;

// Insert custom fonts for your theme into the font stacks below. Always end the
// stack with $serif-epub or $sans-serif-epub, as appropriate—this allows custom
// language support to be added dynamically.

$times: 'Times New Roman', Georgia;
$crim: 'Crimson Text';
$helv: Helvetica, Arial;
$roboto: 'Roboto';
$roboto_cond: 'Roboto Condensed';

$font-1: $times, $serif-epub;
$font-2: $crim, $serif-epub;
$font-3: $roboto_cond, $sans-serif-epub;

// Add import rules for any fonts you referenced below. Available font partials
// are found in /pressbooks/assets/scss/fonts and follow the naming pattern:
// _FontNameInCamelCaseFont.scss. For example, to import Alegreya Sans, use:
// @import 'AlegreyaSansFont';

@import 'RobotoFont';
@import 'RobotoCondensedFont';
@import 'CrimsonTextFont';