@import 'font-stack-epub'; // Dynamically generated

$serif-epub: serif !default;
$sans-serif-epub: sans-serif !default;

// Insert custom fonts for your theme into the font stacks below. Always end the
// stack with $serif-epub or $sans-serif-epub, as appropriate—this allows custom
// language support to be added dynamically.
$font-1: $serif-epub;
$font-2: $sans-serif-epub;
$font-3: $font-2;

// Add import rules for any fonts you referenced below. Available font partials
// are found in /pressbooks/assets/scss/fonts and follow the naming pattern:
// _FontNameInCamelCaseFont.scss. For example, to import Alegreya Sans, use:
// @import 'AlegreyaSansFont';