/*
Theme Name: Open Textbooks
Description: Textbook specific features for the open textbook project. The screenshot/image used for this theme is 'open textbooks' by Guilia Forsythe used under CC BY.
Author: BCcampus
Version: 2.1.6
Template: pressbooks-book
Text Domain: open-textbook
Tags: Textbooks for Pressbooks
*/
