// Colors

$white: #ffffff;
$off-white: #f9f9f9;
$light-grey-1: #f7f7f9;
$light-grey-2: #eaf5ea;
$light-grey-3: #e7e7e7;
$light-grey-4: #dddddd;
$black: #000000;
$black-1: #111111;
$black-2: #1f1f1d;
$black-3: #333333;
$green: #3a7a33;
$blue: #0b6396;
$light-blue: #E3EFF6;
$yellow: #c09853;
$red: #b40026;
$dark-red: #870d0d;



