/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
|
| Open Textbook Variables
|
|
*/

$color-white: #ffffff;
$color-white-alabaster: #f9f9f9;
$color-gray-athensgray: #f7f7f9;
$color-gray-harp: #eaf5ea;
$color-gray-mercury: #e7e7e7;
$color-gray-alto: #dddddd;
$color-gray-gallery: #eeeeee;
$color-black: #000000;
$color-black-codgray: #111111;
$color-black-tuatara: #1f1f1d;
$color-black-mineshaft: #333333;
$color-green-goblin: #3a7a33;
$color-blue-venice: #0b6396;
$color-blue-linkwater: #E3EFF6;
$color-yellow-twine: #c09853;
$color-red-monza: #b40026;
$color-red-tamarillo: #870d0d;
$color-desert-storm: #f4f4f3;

//$color-1: initial !default; //body color, usually black
//$color-2: $color-1 !default; //highlight color, for titles etc.
//$color-3: $color-1 !default; //second highlight color, or black
//$color-4: #eee !default; //shaded
//$color-5: $color-4 !default; //2nd shaded
//$color-5: $color-1 !default;
//$color-6: $color-1 !default;
//
//HTML ELEMENTS COLOR

//A-LINK COLOR
@if $type == 'epub' {
  $link-color: #2393BD !default;
} @else if $type == 'prince' {
  $link-color: #2393BD !default;
} @else if $type == 'web' {
  $link-color: #2393BD !default;
}

////BODY COLOR
//$body-color: $color-1 !default;
//
////BLOCKQUOTE COLOR
//$blockquote-color: $color-1 !default;
//
////BODY HEADER COLORS
//$h1-color: $color-2 !default;
//$h2-color: $color-2 !default;
//$h3-color: $color-2 !default;
//$h4-color: $color-3 !default;
//$h5-color: $color-3 !default;
//$h6-color: $color-3 !default;
//
////TABLE COLORS
//$table-color: $color-1 !default;
//$table-para-color: $color-1 !default;
//$shade-color-1: $color-4 !default;
//$line-color-1: $color-3 !default;
//
////INDEX PARA COLOR
//$index-para-color: $color-1 !default;
//
////SPECIAL ELEMENTS COLOR
//$image-caption-text-color: $color-3 !default;
//$first-character-color: $color-2 !default;
//$pullquote-color: $color-2 !default;
//$sidebar-color: $color-4 !default;
//$textbox-border-color: $color-1 !default;
//$shaded-color: $color-4 !default;
//
////TITLE PAGE(S) COLOR
//$half-title-title-color: $color-2 !default;
//$title-page-title-color: $color-2 !default;
//$title-page-subtitle-color: $color-3 !default;
//$title-page-author-color: $color-2 !default;
//$title-page-publisher-color: $color-3 !default;
//$title-page-publisher-city-color: $color-3 !default;
//
////SECTION OPENING COLOR
//$front-matter-title-color: $color-2 !default;
//$copyright-para-color: $color-1 !default;
//$dedication-para-color: $color-3 !default;
//$epigraph-para-color: $color-3 !default;
//
//$part-number-color: $color-3 !default;
//$part-title-color: $color-2 !default;
//
//$chapter-number-color: $color-3 !default;
//$chapter-number-border-bottom-color: $color-3 !default;
//$chapter-title-color: $color-2 !default;
//$chapter-subtitle-color: $color-3 !default;
//$chapter-author-color: $color-3 !default;
//$chapter-aphorism-color: $color-3 !default;
//
//$back-matter-title-color: $color-2 !default;
//
////RUNNING HEAD/FEET COLOR
//$runninghead-color: $color-3 !default;
//$runningfoot-color: $color-3 !default;
//$page-number-color: $color-3 !default;
//
////TOC COLOR
//$toc-front-matter-title-color: $color-1 !default;
//$toc-front-matter-subtitle-color: $color-1 !default;
//$toc-front-matter-author-color: $color-1 !default;
//$toc-part-number-color: $color-3 !default;
//$toc-part-title-color: $color-3 !default;
//$toc-chapter-number-color: $color-1 !default;
//$toc-chapter-title-color: $color-1 !default;
//$toc-chapter-subtitle-color: $color-1 !default;
//$toc-chapter-author-color: $color-1 !default;
//$toc-page-number-color: $color-1 !default;
//$toc-front-matter-page-number-color: $color-1 !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/colors';

// Add custom SCSS below these imports and includes.
@import 'components/colors';

/*
|--------------------------------------------------------------------------
| Colours
|--------------------------------------------------------------------------
|
| Open Textbook Custom SCSS
|
|
*/




