// Elements
/*
|--------------------------------------------------------------------------
| Body
|--------------------------------------------------------------------------
|
|
|
|
*/
body {
  font-family: $times;
  line-height: $body-line-height;
}

a {
  text-decoration: none;
}

small {
  font-size: 80%;
}

/*
|--------------------------------------------------------------------------
| Headings
|--------------------------------------------------------------------------
|
|
|
|
*/

h1, h2, h3, h4, h5, h6 {
  font-family: $roboto_cond;
  font-variant: normal;
  font-style: normal;
  font-weight: bold;
}

h1 {
  font-size: $h1-font-size;
}

h2, h3, h4 {
  text-transform: $text-transform-norm;
}

h1, h2, h3 {
  text-align: left;
}

h2 {
  font-size: $h2-font-size;
}

h2, h3, h4 {
  font-style: normal;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: -5px;
  margin-bottom: 15px;
}

/*
|--------------------------------------------------------------------------
| Image Captions
|--------------------------------------------------------------------------
|
|
|
|
*/

.wp-caption-text{
  text-align: left;
}

/*
|--------------------------------------------------------------------------
| Lists
|--------------------------------------------------------------------------
|
|
|
|
*/

ol.alphalist {
  list-style-type: $list-style-type;
  list-style-position: inside;
  margin-left: 25px;
}

ol.alphalist li::before {
  content: normal;
}

.entry-content ul {
  margin-left: 30px;
}

.entry-content ol {
  margin-left: 30px;
}

.entry-content ul {
  list-style: outside disc;
}

ol {
  list-style: none outside;
  counter-reset: level1;
}

ol li::before {
  content: counter(level1) ". ";
  counter-increment: level1;
}

ol li ul li::before {
  content: '';
}

ol ol {
  list-style: none outside;
  counter-reset: level2;
}

ol li li::before {
  list-style-position: outside;
  content: counter(level2, $list-style-type) ". ";
  counter-increment: level2;
}

ol ol ol {
  list-style: none outside;
  counter-reset: level3;
}

ol li li li::before {
  list-style-position: outside;
  content: counter(level3, $list-style-type-2) ". ";
  counter-increment: level3;
}

/*
|--------------------------------------------------------------------------
| Footer, Footnotes & Endnotes
|--------------------------------------------------------------------------
|
|
|
|
*/

.endnotes h3 {
  text-align: left;
  text-indent: 0;
  text-transform: none;
}

p.cc-block {
  background-color: $color-white-alabaster !important;
  border: 1px solid $color-gray-alto !important;
  font-size: small;
  line-height: 17px;
  width: 100% !important;
  margin: 30px auto 8px !important;
  border-radius: 4px;
}

.screen-reader-text {
  display: none;
}