/*
|--------------------------------------------------------------------------
| Media
|--------------------------------------------------------------------------
|
| Open Textbook Variable Overrides
|
|
*/

//// Bottom padding for image captions.
//// @type String
//$image-caption-padding-bottom: .5em !default;
//// Font stack for image captions.
//// @type String
//$image-caption-font-family: $font-1 !default;
//// Font size for image captions.
//// @type String
$image-caption-font-size: (epub: .88em, prince: .88em, web: .88rem) !default;
//// Font style for image captions.
//// @type String
//$image-caption-font-style: normal !default;
//// Font weight for image captions.
//// @type String
//$image-caption-font-weight: normal !default;
//// Line height for image captions.
//// @type String
//$image-caption-line-height: 1.2em !default;
//// Text alignment for image captions.
//// @type String
//$image-caption-text-align: left !default;
//// Text transform for image captions.
//// @type String
//$image-caption-text-transform: none !default;
//// Top margin for image wrappers.
//// @type String
//$image-wrapper-margin-top: .5em !default;
//// Bottom margin for image wrappers.
//// @type String
//$image-wrapper-margin-bottom: .5em !default;
//// Right margin for left-aligned images.
//// @type String
//$image-alignleft-margin-right: 1em !default;
//// Left margin for right-aligned images.
//// @type String
//$image-alignright-margin-left: 1em !default;
// Image resolution for PrinceXML PDF outputs.
// @type String
$prince-image-resolution: 135dpi !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/media';

// Add custom SCSS below these imports and includes.
@import 'components/media/images';
@import 'components/media/audio';
@import 'components/media/video';


/*
|--------------------------------------------------------------------------
| Media
|--------------------------------------------------------------------------
|
| Open Textbook Custom SCSS
|
|
*/
// blockquote image
//$blockquote-open-url: (
//  prince: "images/blockquote-open.png",
//  epub: "images/blockquote-open.png",
//  web: "images/blockquote-open.png"
//);

.wp-caption-text{
  text-align: left;
}
