/*
|--------------------------------------------------------------------------
| Media Queries
|--------------------------------------------------------------------------
|
|
|
|
*/
@media screen and (min-width: 940px) {
  #content {
    width: 720px;
  }

  .posts-navigation {
    width: 900px;
    margin-left: -450px;
  }

  #sidebar {
    margin-right: -24px;
  }
}
