/*
|--------------------------------------------------------------------------
| Media Queries
|--------------------------------------------------------------------------
|
|
|
|
*/
@if $type == 'web' {
  @media screen and (min-width: 940px) {
    #tabs {
      width: inherit;
    }
  }

  @media screen and (max-width: 939px) {
    #tabs {
      width: inherit;
    }
  }

  // Tablet Portrait
  @media screen and (max-width: 768px) {
    #tabs {
      width: auto;
      padding: 0px 60px;
      margin: 0 10px;
    }

  }

  // Mobile Landscape
  @media screen and (max-width: 480px) {
    #tabs {
      padding: 20px 10px 10px;
    }

  }

  // Print
  @media print {
    #tabs {
      display: none;
    }
  }
}
