/*
|--------------------------------------------------------------------------
| Structure
|--------------------------------------------------------------------------
|
| Open Textbook Variable Overrides
|
|
*/

// Running content is made of three kinds of content:
// -page number
// -separator
// -running content
// First, choose page number position options (choose one!)

//$numbering-position: 'top-outside-corner' !default;
$numbering-position: 'top-outside' !default;
//$numbering-position: 'top-center' !default;
//$numbering-position: 'top-inside' !default;
//$numbering-position: 'outside-top' !default;
//$numbering-position: 'outside-middle' !default;
//$numbering-position: 'outside-bottom' !default;
//$numbering-position: 'bottom-outside-corner' !default;
//$numbering-position: 'bottom-outside' !default;
//$numbering-position: 'bottom-center' !default;
//$numbering-position: 'bottom-inside' !default;

// $first-numbering-position: null !default;
// $first-numbering-position: 'top-center' !default;
$first-numbering-position: 'bottom-center' !default;
// TODO: Handle other positions based on recto-verso

// Next, running content position options (choose one!)

//$running-content-position: 'top-outside-corner' !default;
$running-content-position: 'top-outside' !default;
// $running-content-position: 'top-center' !default;
//$running-content-position: 'top-inside' !default;
//$running-content-position: 'outside-top' !default;
//$running-content-position: 'outside-middle' !default;
//$running-content-position: 'outside-bottom' !default;
//$running-content-position: 'bottom-outside-corner' !default;
//$running-content-position: 'bottom-outisde' !default;
//$running-content-position: 'bottom-center' !default;
//$running-content-position: 'bottom-inside' !default;


// Finally, for the running separator, it either exists or it doesn't,
//so choose between two options (null, or defined content):

$left-running-separator: '\A0\A0\2022\A0\A0' !default;
$right-running-separator: '\A0\A0\2022\A0\A0' !default;
//$left-running-separator: '' !default;
//$right-running-separator: '' !default;

//// Page Numbers
//
//$front-matter-page-number-font-family: $font-2 !default;
//$front-matter-page-number-font-size: .8em !default;
//$front-matter-page-number-font-style: normal !default;
//$front-matter-page-number-font-weight: normal !default;
//$front-matter-page-number-text-transform: none !default;
//$page-number-font-family: $font-2 !default;
$page-number-font-size: (epub: .7em, prince: .7em, web: .7rem) !default;
//$page-number-font-style: normal !default;
//$page-number-font-weight: normal !default;
//$page-number-text-transform: none !default;
//
//// Running Heads
//
//$runninghead-padding-top: .4in !default;
//$runninghead-left-font-family: $font-3 !default;
//$runninghead-left-font-size: .7em !default;
//$runninghead-left-font-style: normal !default;
//$runninghead-left-font-weight: normal !default;
//$runninghead-left-text-transform: uppercase !default;
//$runninghead-left-letter-spacing: 1px !default;
//$runninghead-left-word-spacing: 2px !default;
//$runninghead-right-font-family: $font-3 !default;
//$runninghead-right-font-size: .7em !default;
//$runninghead-right-font-style: normal !default;
//$runninghead-right-font-weight: normal !default;
//$runninghead-right-text-transform: uppercase !default;
//$runninghead-right-letter-spacing: 1px !default;
//$runninghead-right-word-spacing: 2px !default;
//
//// Running Feet
//
//$runningfoot-separator: '\A0\A0|\A0\A0' !default;
//$runningfoot-padding-bottom: .4in !default;
//$runningfoot-left-font-family: $font-2 !default;
//$runningfoot-left-font-size: .7em !default;
//$runningfoot-left-font-style: normal !default;
//$runningfoot-left-font-weight: normal !default;
//$runningfoot-left-text-transform: uppercase !default;
//$runningfoot-left-letter-spacing: normal !default;
//$runningfoot-left-word-spacing: normal !default;
//$runningfoot-right-font-family: $font-2 !default;
//$runningfoot-right-font-size: .7em !default;
//$runningfoot-right-font-style: normal !default;
//$runningfoot-right-font-weight: normal !default;
//$runningfoot-right-text-transform: uppercase !default;
//$runningfoot-right-letter-spacing: normal !default;
//$runningfoot-right-word-spacing: normal !default;
//
//// Running Head & Foot Content
//// Strings options are:
//// - book-title
//// - book-subtitle
//// - book-author
//// - book-publisher
//// - book-publisher-city
//// - part-number
//// - part-title
//// - chapter-number
//// - section-title (this corresponds to front matter/chapter/back matter title
//// OR short-chapter-title if present)
//// - chapter-author
//// - chapter-subtitle
//
//$front-matter-running-content-left: string(book-title) !default;
//$front-matter-running-content-right: string(section-title) !default;
//$introduction-running-content-left: string(book-title) !default;
//$introduction-running-content-right: string(section-title) !default;
//$part-running-content-left: string(book-title) !default;
//$part-running-content-right: string(part-title) !default;
//$chapter-running-content-left: string(book-title) !default;
//$chapter-running-content-right: string(section-title) !default;
//$back-matter-running-content-left: string(book-title) !default;
//$back-matter-running-content-right: string(section-title) !default;
//
//// Crop Marks (none | crop | cross)
//
//$page-cropmarks: none !default;
//
//// Page Size (in | cm)
//
//$page-width: 5.5in !default;
//$page-height: 8.5in !default;
//
//// Page Margins (in | cm | % | px | &c)
//
//$page-margin-left-top: 2cm !default;
//$page-margin-left-right: 2cm !default;
//$page-margin-left-bottom: 2cm !default;
//$page-margin-left-left: 2cm !default;
//$page-margin-right-top: 2cm !default;
//$page-margin-right-right: 2cm !default;
//$page-margin-right-bottom: 2cm !default;
//$page-margin-right-left: 2cm !default;
//
//// Recto-Verso Openings (right | auto)
//
//$recto-verso-standard-opening: right !default;
//$recto-verso-first-section-opening: right !default;
//$recto-verso-section-opening: auto !default;
//
//// Index
//$index-align: left !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/structure';

// Add custom SCSS below these imports and includes.
@import 'components/structure/general';
@import 'components/structure/recto-verso';
@import 'components/structure/numbering';
@import 'components/structure/content-strings';
@import 'components/structure/running-content';
/*
|--------------------------------------------------------------------------
| Structure
|--------------------------------------------------------------------------
|
| Open Textbook Custom SCSS
|
|
*/

/* "short title override" ... this sets short chapter title content (for running header) but does not display it.
it can cause problems with spacing of things, so be careful to design around it */

div.front-matter > div.ugc h6.short-title:first-of-type,
div.chapter > div.ugc h6.short-title:first-of-type,
div.back-matter > div.ugc h6.short-title:first-of-type {
  string-set: section-title content() !important; /* override running header */
  visibility: hidden; /* display:none breaks string-set: */
  font-size: 0;
  height: 0;
}
