/*
|--------------------------------------------------------------------------
| Tab Overrides
|--------------------------------------------------------------------------
|
| base http://code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css
|
|
*/
@if $type == 'web' {
  #tabs {
    padding: 0 1rem;
  }

  .ui-state-default,
  .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-button,
  .ui-button.ui-state-disabled:hover,
  .ui-button.ui-state-disabled:active {
    border: none;
    font-weight: lighter;
    color: $color-black-mineshaft;
  }

  .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color: $color-white;
    color: $color-black-mineshaft;
    border-top: solid 2px $color-red-monza;
  }

  .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: $color-black-mineshaft;
  }

  .ui-widget-header {
    background: $color-white;
    border: none;
  }

  .ui-tabs, .ui-tabs-panel, .ui-tabs-nav {
    padding: 0px;
  }

  .ui-tabs .ui-tabs-nav {
    margin: 0px;
  }

  .ui-widget-content a {
    color: $color-red-tamarillo;
  }
}

