// Titles

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/titles';

// Add custom SCSS below these imports and includes.
@import 'components/titles/titles';
@import 'components/titles/parts';
@import 'components/titles/front-matter';
@import 'components/titles/chapters';
@import 'components/titles/back-matter';

/*
|--------------------------------------------------------------------------
| Title, Subtitle, Authors & Aphorism
|--------------------------------------------------------------------------
|
|
|
|
*/

.entry-title {
  font-weight: normal;
  text-align: left;
  margin: 100px 0 80px;
}

.entry-title span {
  border-bottom: 1px solid $color-black-mineshaft;
  padding: 0 0.2em 0.3em;
  text-align: center;
  width: 20%;
}

.chapter_subtitle {
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin: -80px 0 100px;
  line-height: 1.4em;
}

.chapter_author {
  font-family: $crim;
  font-style: italic;
  font-weight: normal;
  margin: -70px 0 100px;
}

.chapter_subtitle + .chapter_author {
  margin-top: -80px;
}

.aphorism {
  margin-bottom: 80px;
  margin-left: 100px;
  margin-top: -80px;
  padding: 0;
  text-align: right;
}

.aphorism cite {
  float: none;
}