// Table of Contents

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/toc';

// Add custom SCSS below these imports and includes.
// @import 'components/toc/center';
@import 'components/toc/left';

/*
|--------------------------------------------------------------------------
| TOC, Author page, Book Page
|--------------------------------------------------------------------------
|
|
|
|
*/

#inline-toc h4 {
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  text-transform: none;
}

.page-title {
  font-weight: normal;
}

