/*
|--------------------------------------------------------------------------
| TOC, Author page, Book Page
|--------------------------------------------------------------------------
|
|
|
|
*/

#inline-toc h4 {
  font-family: inherit;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  text-transform: none;
}

.page-title {
  font-weight: normal;
}

