
// body
$body-line-height: 1.5em;

// text
$text-transform-default: uppercase;
$text-transform-norm: none;

// headings
$h1-font-size: 1.3em;
$h2-font-size: 1.2em;

// lists
$list-style-type: lower-alpha;
$list-style-type-2: lower-roman;

